@model List<cpsc571.Models.Tweet>
@{
    ViewBag.Title = "CPSC571";
}

<div>
    <button id="stopStream">Stop application</button>
    <ul id="tweetsList">
        @foreach (var t in Model.ToList())
        {
            <li>@t.FullText</li>
        }
    </ul>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //setinterval(function () {
        //    $('#tweetslist').append('<li>hello</li>');
        //}, 5000);

        $('#stopStream').click(function () {
            location.href = '@Url.Action("Stop", "Home")';
        });
    });
</script>