@model List<Tweetinvi.Models.ITweet>
@{
    ViewBag.Title = "CPSC571";
}

<div>
    <ul id="tweetsList">
        @foreach (var t in Model.ToList())
        {
            <li>@t.FullText</li>
        }
    </ul>
</div>