@model List<TweetSharp.TwitterStatus>
@{
    ViewBag.Title = "CPSC571";
}

<div>
    <ul id="tweetsList">
        @foreach (var t in Model.ToList())
        {
            <li>@t.Text</li>
        }
    </ul>
</div>